# Godot 4+ specific ignores
.godot/
/android/

# Olkris's selective include
/*/
gitmultipush.bat
gitmultiswap.bat
!ARCHA UI/
ARCHA UI/*/
!ARCHA UI/*.*
!ARCHA UI/Content panel display styles/
!ARCHA UI/Branches/
ARCHA UI/Branches/*/
!ARCHA UI/Branches/Splatool/




